[submodule "SAE-5.A-carmate-database"]
	path = SAE-5.A-carmate-database
	url = https://github.com/DUT-Info-Montreuil/SAE-5.A-carmate-database.git
[submodule "SAE-5.A-carmate-back"]
	path = SAE-5.A-carmate-back
	url = https://github.com/DUT-Info-Montreuil/SAE-5.A-carmate-back.git
[submodule "SAE-5.A-carmate-front"]
	path = SAE-5.A-carmate-front
	url = https://github.com/DUT-Info-Montreuil/SAE-5.A-carmate-front.git
